{% extends "partials/_base.html" %}
{% load static %}

{% block arquivos_css %}
    <link rel="stylesheet" href={% static "css/formulario.css" %} />
{% endblock %}


{% block titulo_pagina %}

<button class="botao-retornar item-navegacao"> < Voltar</button>
<h1 class="titulo-pagina">CADASTRAR CLIENTE</h1>

{% endblock %}


{% block main %}
    
    <form method="POST">

        {% csrf_token %}

        {{ formulario.as_p }}

        <button type="submit">Cadastrar</button>
    </form>

{% endblock %}k